* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background-image: url('./assets/images/relogio.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

#container-filter {
    background-color: rgba(238, 255, 0, 0.20);
    backdrop-filter: blur(2px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    height: 300px;
    border: 3px solid ;
    text-align: center;
    background-color: rgba(248, 248, 248, 0.096);
    backdrop-filter: blur(5px);
}

h1#title{
    margin-top: 50px;
    font-size: 23px;
    color: black;
    text-transform: uppercase;
}

input[type = "text"] {
    width: 70px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

input[type = "button"]{
    width: 80px;
    height: 40px;
    background-color: white;
} 

input[type = "button"]:hover{
    background-color: rgb(114, 114, 114);
    color: white;
}